body {
  font: 20px, "Times New Roman", serif;
background-color: azure
}

h1 {
    text-align: end
}
h2 {
  color: forestgreen;
  text-align: center;
}

p {
  font-size: 20px;
}

li{
    color: darkslategray
}